::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #111111;
    border-radius: 6px;
  }
  
  * {
    scrollbar-color: #111111 #f0f0f0;
  }
  * {
    scrollbar-face-color: #4F46E5;
  }
  