<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Example</title>
</head>
<body>
    <div class="flex mt-7 bg-custom-black-2 h-681">
        <!-- Left Div -->
        <div class="w-757 h-681 p-4 relative flex flex-col items-start justify-center mx-auto">
          <!-- ABOUT US heading -->
          <div class=" text-white text-4xl font-inter font-extrabold leading-tight break-words border-b-2 border-solid border-custom-orange rounded-br-sm rounded-bl-sm">
            ABOUT US
          </div>
          <div class="mb-4 text-white">
            <p>Amet minim mollit non deserunt ullamco est
              sit aliqua dolor do amet sint. Velit officia
              consequatduis enim.</p>
            <p>Amet minim mollit non deserunt ullamco est
              sit aliqua dolor do</p>
          </div>
          <div>
            <button class="h-54 w-145 bg-custom-orange text-inherit rounded-[27px] border-transparent border-solid text-white">EXPLORE</button>
          </div>
        </div>
        
      
        <!-- Right Div -->
        <div>
          <!-- Image in the right div -->
          <img src="/assets/about_bg.svg" alt="Image" class="w-full h-full object-cover">
        </div>
        
      </div>
      
</body>
</html>